<head>
	<!-- OG things -->
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="icon" href="/assets/images/bigai/bigai_favicon.png">
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<title>{{ site.title }}</title>

	<!-- Default Statcounter code for bigAI http://bigai.cs.brown.edu/ -->
	<!-- <script type="text/javascript">
	var sc_project=12056532;
	var sc_invisible=1;
	var sc_security="69c5b5d5";
	var sc_https=1;
	</script>
	<script type="text/javascript"
	src="https://www.statcounter.com/counter/counter.js" async></script>
	<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
	StatCounter" href="https://statcounter.com/" target="_blank"><img
	class="statcounter" src="https://c.statcounter.com/12056532/0/69c5b5d5/1/"
	alt="Web Analytics Made Easy - StatCounter"></a></div></noscript> -->
	<!-- End of Statcounter Code -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145060188-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-145060188-1');
	</script> -->
	<!-- End of Analytics -->

	<!-- mathjax and latex -->
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	    extensions: [
	      "MathMenu.js",
	      "MathZoom.js",
	      "AssistiveMML.js",
	      "a11y/accessibility-menu.js"
	    ],
	    jax: ["input/TeX", "output/CommonHTML"],
	    TeX: {
	      extensions: [
	        "AMSmath.js",
	        "AMSsymbols.js",
	        "noErrors.js",
	        "noUndefined.js",
	      ]
	    }
	  });
	</script>
	<script type="text/javascript" async
  	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
</head>
